<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accident Analysis</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <header class="header">
        <div class="row">
            <div id="logo">
                <span class="t">A</span>LCHEMIST <span class="t">T</span>REASURE
            </div>
            <ul>
                <li><a href="/" onclick="showSection('home')">Home</a></li>
                <li><a href="#previousAccidentReport" onclick="showSection('previousAccidentReport')">Old Report</a></li>
                <li><a title="For emergency services" href="#emergency_services">Services</a></li>
                <!-- <li><a href="#graphs" onclick="showSection('graphs')">Graphical Analysis</a></li> -->
                <li><a href="/graph" onclick="showSection('graphs')">Graphical Analysis</a></li>
            </ul>
        </div>
    </header>